.jk-sidepanel {
  .ant-drawer-header {
    background-color: #337ab7;
    padding: 12px;

    .ant-drawer-title {
      color: #efefef;
    }

    button {
      color: #efefef;
      padding: 12px;
      font-size: 21px;
    }
  }

  .ant-drawer-body {
    padding: 8px;
  }
}

@media only screen and (max-width: 600px) {
  .jk-sidepanel .ant-drawer-content-wrapper {
    width: 100% !important;
  }
}
