.dropzone-uploader {
  border: #ced4da dashed 2px;
  border-radius: 4px;
  color: #6c757d;
  cursor: pointer;
  margin-bottom: 8px;
  padding: 8px;
  text-align: center;
  transition: all 0.2s;

  p {
    margin-bottom: 0;
  }

  &:hover,
  &.dropzone-uploader--hover {
    border: #337ab7 dashed 2px;
  }
}

.dropzone-uploader--loading {
  display: flex;
  justify-content: center;
  margin: 8px 0 16px;
}
