@import "../../mixins.scss";

.items-page {
  th {
    @include cutOffTitles;
  }

  .btn__create {
    margin-top: 20px;
  }
}

.items-action-buttons {
  display: flex;
  flex-direction: row;

  .btn-primary {
    margin-right: 8px;
  }
}
