.services__service-details {
  .ql-toolbar.ql-snow {
    border-radius: 4px 4px 0 0;
    padding: 4px;
  }
  .ql-container.ql-snow {
    border-radius: 0 0 4px 4px;
  }
  .ql-editor {
    height: 100px;
  }
}
