.schedule-page__appointment {
  background-color: #efefef;
  border: 2px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 2px;

  .title {
    font-size: 18px;
    padding: 4px;

    .glyphicon-th {
      color: silver;
      cursor: move;
      margin-right: 4px;
      overflow: hidden;
      top: 2px;
      width: 12px;

      &:hover {
        color: #333;
      }
    }

    .appointment__is-complete-flag {
      float: right;
      font-size: 14px;
    }
  }

  .details {
    display: flex;
    min-height: 90px;

    .half {
      flex: 1;
      margin: 4px;

      .notes {
        font-style: italic;
        margin: 4px 0 0 0;
      }
    }
  }

  .appointment__spinner-wrapper {
    display: inline-block;
    position: relative;
    top: -5px;
    margin-left: 8px;
  }
}

.sortable-chosen .appointment {
  //when dragging, the appointment in its new slot
  background-color: #dedede;
}

.sortable-drag .appointment {
  //when dragging, the one dragging around the screen
  background-color: #efefef;
  opacity: 0.5;
}
