// Note: This is duplicated on the front-end (with some minor tweaking)
.bs-wizard {
  padding: 0 0 16px 0;

  .col-xs-2 {
    width: 20%;
  }
}
.bs-wizard > .bs-wizard-step {
  padding: 0;
  position: relative;
}

.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
  color: #595959;
  font-size: 13px;
  text-transform: capitalize;
}
.bs-wizard > .bs-wizard-step .bs-wizard-info {
  color: #999;
  font-size: 14px;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  background: #337ab7;
  top: 38px;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
  content: " ";
  width: 14px;
  height: 14px;
  background: #155c99;
  border-radius: 50px;
  position: absolute;
  top: 8px;
  left: 8px;
}
.bs-wizard > .bs-wizard-step > .progress {
  position: relative;
  border-radius: 0px;
  height: 8px;
  box-shadow: none;
  margin: 15px 0;
  background-color: #ddd;
}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
  width: 0px;
  box-shadow: none;
  background: #337ab7;
  transition: none;
}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
  width: 100%;
}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
  width: 50%;
}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
  width: 0%;
}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
  width: 100%;
}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
  background-color: #ddd;
}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
  opacity: 0;
}
.bs-wizard > .bs-wizard-step:first-child > .progress {
  left: 50%;
  width: 50%;
}
.bs-wizard > .bs-wizard-step:last-child > .progress {
  width: 50%;
}
.bs-wizard > .bs-wizard-step .bs-wizard-dot {
  cursor: pointer;
}
.bs-wizard > .bs-wizard-step.disabled .bs-wizard-dot,
.bs-wizard > .bs-wizard-step.active .bs-wizard-dot {
  cursor: default;
}

@media only screen and (max-width: 767px) {
  .bs-wizard {
    padding: 0 0 8px 0;

    > .bs-wizard-step {
      .bs-wizard-stepnum {
        display: none;
      }

      > .progress {
        height: 4px;
        margin: 8px 0;
      }

      > .bs-wizard-dot {
        width: 14px;
        height: 14px;
        top: 18px;
        margin-left: -7px;

        &:after {
          width: 8px;
          height: 8px;
          top: 3px;
          left: 3px;
        }
      }
    }
  }
}
