.create-order-code-wrapper {
  input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    text-align: center;
    padding-left: 0 !important;
    font-size: 24px !important;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  .row--CAD input:nth-of-type(4) {
    margin-left: 18px !important;
  }
}
